CLIENT_ID=your_discord_client_id
CLIENT_SECRET=your_discord_client_secret
REDIRECT_URI=http://localhost:3000/callback
BOT_TOKEN=your_bot_token
GUILD_ID=your_guild_id
ROLE_ID=your_role_id
VERIFY_CHANNEL_ID=your_verify_channel_id
PORT=3000
